:root {
  --text-color: #434455;
  --heading-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --bgcolor: #f4f4fd;
  --white-color: #ffffff;
  --prassed-state-color: #404bbf;
  --accent-color: #e7e9fc;
  --label-color: #8e8f99;
}

h1,
h2,
h3,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 72px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  border: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
}

.logo-studio {
  color: var(--heading-color);
}

/* -------------------HEADER */
header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  margin-right: 76px;
}

.nav-link {
  color: var(--heading-color);
  font-weight: 500;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--prassed-state-color);
}

.active-nav-link {
  color: var(--prassed-state-color);
}

.active-nav-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--prassed-state-color);
  position: absolute;
  bottom: -25px;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--prassed-state-color);
}

/* ------------------- HERO */

.hero {
  background-color: var(--heading-color);
}

.hero.section {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bgimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  text-align: center;
}

.hero-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 48px;
  width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--prassed-state-color);
}

/* ------------------- Features */

.features.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc(100% - 24px / 4);
}

.features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background: var(--bgcolor);
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  margin-bottom: 8px;
}

/* ------------------- WHATWEDO */

.whatwedo.section {
  padding-bottom: 120px;
}

.whatwedo-list {
  display: flex;
  gap: 24px;
}

.whatwedo-item {
  width: 360px;
}

/* ------------------- TEAM */

.team.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team {
  background: var(--bgcolor);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc(100% - 24px) / 4;
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item > img {
  display: block;
}

.team-item-container {
  padding: 32px 16px;
}

.team-icon-list {
  display: flex;
  gap: 24px;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--prassed-state-color);
}

.team-icon {
  display: block;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-item-container > p {
  text-align: center;
  margin-bottom: 8px;
}

/* ------------------- CUSTOMERS */
.customers.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-icon-list {
  display: flex;
  gap: 24px;
  width: 1138px;
  margin-left: auto;
  margin-right: auto;
}

.customers-icon-item {
  width: calc(1138px - 24px / 6);
}

.customers-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
}

.customers-icon {
  fill: currentColor;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-link:hover,
.customers-icon-link:focus {
  border-color: var(--prassed-state-color);
  color: var(--prassed-state-color);
}

/* ------------------- PORTFOLIO */
.portfolio.section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: 360px;
}

.img-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-item img {
  display: block;
}

.portfolio-img-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: var(--primary-brand-color);
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-img-desc {
  transform: translateY(0);
}

.portfolio-item-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-container h2 {
  margin-bottom: 8px;
}

.filter-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--bgcolor);
  text-transform: capitalize;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--prassed-state-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.portfolio-description {
  color: var(--text-color);
}

/* ------------------- FOOTER */
.footer-container {
  display: flex;
}

.socialmedia-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-desc {
  max-width: 264px;
  margin-right: 120px;
}

.footer-desc > .logo {
  display: block;
  margin-bottom: 18px;
}

.footer {
  background-color: var(--heading-color);
}

.logo-studio-bottom {
  color: var(--bgcolor);
}

.footer-descripton {
  color: var(--accent-color);
}

.socialmedia-container {
}

.socialmedia-list {
  display: flex;
  gap: 16px;
}

.socialmedia-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia-icon-link:hover,
.socialmedia-icon-link:focus {
  background-color: #31d0aa;
}

.socialmedia-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.subscribe-container {
 margin-left: auto;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.subscribe-input::placeholder,
.subscribe-input:focus {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  width: 165px;
  height: 40px;
  fill: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: var(--prassed-state-color);
}

.subscribe-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

/* ----------------------MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
  background-color: var(--white-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 8px;
  height: 8px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--white-color);
  background-color: var(--prassed-state-color);
  border: 1px solid transparent;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-container {
  top: 72px;
  left: 24px;
}

.modal-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-container input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container input:focus {
  border-color: var(--primary-brand-color);
  outline: none;
}

.label-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container input:focus + .label-icon {
  fill: var(--primary-brand-color);
}

.modal-container label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--label-color);
  margin-bottom: 8px;
  width: 100%;
  
}

label[for='comment'] {
  margin-bottom: 4px;
}

.input-container {
  position: relative;
  margin-top: 4px;
}

.label-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.textarea {
  width: 360px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border: 1px solid var(--primary-brand-color);
  outline: none;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.send-btn {
  width: 169px;
  height: 56px;
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.send-btn:focus,
.send-btn:hover {
  background-color: var(--prassed-state-color);
}

.modal-container .check-text {
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    back-groundcolor 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-span {
  background-color: var(--prassed-state-color);
  border: 1px solid var(--prassed-state-color);
  fill: var(--white-color);
}
.privacy-policy {
  color: var(--primary-brand-color)
}
